body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
  background-color:rgb(231, 215, 193);
}

.mountains-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.search-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 200px;
  font-size: 16px;
  text-align: center;
}

.search-input:focus {
  outline: none;
  border-color: #8c8c8c;
  box-shadow: 0 0 5px #8c8c8c;
}

.mountains {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.mountain-info {
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px; 
  text-align: center;
  transition: background-color 0.3s ease;
}

.mountain-info:hover {
  background-color: rgb(167, 138, 127); 
}

.mountain-info h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.mountain-info p {
  font-size: 14px;
  color: #333;
}

.mountain-info img {
  max-width: 200px;
  height: 150px;
  border-radius: 5px;
  margin-bottom: 15px;
}


