/* Pagination.scss */
.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.pagination button {
  display: inline-block;
  padding: 5px 10px;
  background-color: #ddd;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #aaa;
}

.pagination button.active {
  font-weight: bold;
  background-color: #d7c7c7;
}
