.search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 200px;
    font-size: 16px;
    text-align: center;
  }
  
  .search-input:focus {
    outline: none;
    border-color: #8c8c8c;
    box-shadow: 0 0 5px #8c8c8c;
  }