body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

.mountains {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

.mountains-info{
    font-size: 14px;
    margin: 10px;
    width: calc(33.33% - 20px); // Adjust the width as needed and consider margin
    margin: 10px;
    padding: 15px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.column {
    flex: 0 0 calc(33.33% - 10px); // Divide into three equal columns
    margin-right: 10px;
  }

  